* {
    margin: 0;
    padding: 0;
    background: #0F0F0F;
}

.section_1 {
    position: relative;
}

.porten {
    position: absolute;
    top: 20px;
    left: 300px;
    bottom: 30px;

}

.navbar {
    margin-top: 8px;
    position: absolute;
    left: 500px;
    list-style: none;
}



.navbar_text {
    color: #fff;
    margin-left: 10px;

}

.navbar_text1 {
    color: #fff;
    margin-left: 10px;
    background: rgb(31, 31, 31);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -23px;
    margin-top: -15px;
}

.nav_icon {
    position: absolute;
    top: 18px;
    left: 1300px;
}

.icon {
    margin-left: 40px;
}

.section_2 {
    background: url(image/Rectangle\ 3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 679px;
}

.box {
    border: 3px solid white;
    width: 250px;
    height: 250px;
    position: absolute;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0)), url(.jpg);
    left: 650PX;
    top: 200px;
}

.porten2 {
    position: absolute;
    top: 65px;
    left: 10px;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0)), url(.jpg);
    font-size: 60px;
    color: #fff;

    font-family: 'Post No Bills Jaffna';
}

.line {
    position: absolute;
    top: 135px;
    left: 33px;
}

.text {
    position: absolute;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0)), url(.jpg);
    color: #fff;
    top: 140px;
    left: 60px;
    font-family: 'PT Sans';
}

.lorem {
    background: linear-gradient(0deg, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0)), url(.jpg);
    color: #fff;
    position: absolute;
    top: 550px;
    text-align: center;
    left: 500px;
}

.lorem10 {
    background: linear-gradient(0deg, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0)), url(.jpg);
    font-family: 'PT Sans';
}

.left_box_text {
    font-family: 'PT Sans';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    top: 900px;
    left: 300px;
}

.left_box_img {
    position: absolute;
    top: 960px;
    left: 330px;
}

.card2 {
    border: 2px solid #635b5b;
    width: 220px;
    height: 250px;
    position: absolute;
    top: 1020px;
    left: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: url(image/62050\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #191B1C;
    border-radius: 15px;
}

.card3 {
    border: 2px solid #635b5b;
    width: 220px;
    height: 250px;
    position: absolute;
    top: 1020px;
    left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: url(image/62050\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #191B1C;
    border-radius: 15px;
}

.card4 {
    border: 2px solid #635b5b;
    border-radius: 15px;
    width: 220px;
    height: 250px;
    position: absolute;
    top: 1020px;
    left: 580px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: url(image/62050\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #191B1C;
}

.left-box-text {
    position: absolute;
    top: 270px;
    font-family: 'Playfair Display';
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF
}

.left-box-buy {
    position: absolute;
    top: 295px;
    font-family: 'Playfair Display';
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF
}

.left-box-text1 {
    position: absolute;
    top: 270px;
    font-family: 'Playfair Display';
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF
}

.left-box-buy1 {
    position: absolute;
    top: 295px;
    font-family: 'Playfair Display';
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF
}

.left-box-text2 {
    position: absolute;
    top: 270px;
    font-family: 'Playfair Display';
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF
}

.left-box-buy2 {
    position: absolute;
    top: 295px;
    font-family: 'Playfair Display';
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF
}

.right_box {
    background: url(image/Rectangle\ 8.png);
    height: 600px;
    margin-right: -110px;
    margin-left: 100px;
    border-left: 2px solid #635b5b;
    border-bottom-left-radius: 30px;
    border-bottom: 2px solid #635b5b;
}

.right_text {
    position: absolute;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0)), url(.jpg);
    color: #fff;
    top: 1100px;
    left: 1080px;
    font-family: 'PT Sans';
    font-size: 40px;
}

.right_image {
    position: absolute;
    top: 1170px;
    left: 1140px;
}

.text_right {
    border: 2px solid white;
    padding: 5px 15px 5px 15px;
    font-size: 30px;
    color: #fff;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0)), url(.jpg);
    position: absolute;
    top: 1200px;
    left: 1160px;

}

.kostyum {
    background: url(image/Rectangle\ 9.png);
    height: 600px;
    margin-left: -120px;
    margin-top: 20px;
    border-top: 2px solid #635b5b;
    border-right: 2px solid #635b5b;
    border-bottom: 2px solid #635b5b;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#textt {
    position: absolute;
    top: 1450px;
    left: 1050px;
}

.right {
    position: absolute;
    top: 1550px;
    left: 1100px;
}

.lorem100 {
    text-align: center;
    color: #fff;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    position: absolute;
    top: 1600px;
    left: 975px;
}

#link {
    position: absolute;
    top: 1830px;
    font-family: 'PT Sans';
    font-size: 20px;
    left: 1075px;
    padding: 5px 25px 5px 25px;
}

.card5 {
    border: 2px solid #635b5b;
    border-radius: 15px;
    width: 220px;
    height: 250px;
    position: absolute;
    top: 2250px;
    left: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: url(image/62050\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #191B1C;
}

.card6 {
    border: 2px solid #635b5b;
    border-radius: 15px;
    width: 220px;
    height: 250px;
    position: absolute;
    top: 2250px;
    left: 500px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: url(image/62050\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #191B1C;
}

.card7 {
    border: 2px solid #635b5b;
    border-radius: 15px;
    width: 220px;
    height: 250px;
    position: absolute;
    top: 2250px;
    left: 800px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: url(image/62050\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #191B1C;

}

.card8 {
    border: 2px solid #635b5b;
    border-radius: 15px;
    width: 220px;
    height: 250px;
    position: absolute;
    top: 2250px;
    left: 1100px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: url(image/62050\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #191B1C;

}

#sha384 {
    position: absolute;
    top: 2100px;
    left: 550px;
}

#demo {
    position: absolute;
    top: 2190px;
    left: 650px;
}
#w {
    position: absolute;
    top: 2600px;
}

#e {.
    position: absolute;
    top: 2600px;
}

#r {
    position: absolute;
    top: 2600px;
}

#t {
    position: absolute;
    top: 2600px;
}
#sh{
    position: absolute;
    top: 3000px;
    left: 600px;
}
#luki{
    position: absolute;
    top: 3080px;
    left: 635px;
}
.lucci{
    position: absolute;
    top: 3100px;
    left: 200px;

}
.lucci1{
    position: absolute;
    top: 3100px;
    left: 500px;
}
.lucci2{
    position: absolute;
    top: 3100px;
    left: 800px;
}
.lucci3{
    position: absolute;
    top: 3100px;
    left: 1100px;
}
.section_6{
    
}